@tailwind base;
@tailwind components;
@tailwind utilities;


.explosion {
	position: absolute;
  left: -2px;
	bottom: 0;
	width: 20px;
	height: 70px;
  transform-origin: 50% 100%;
	overflow: hidden;
}

.explosion:nth-child(1) {
	transform: rotate(0deg) translateY(-15px);
}
.explosion:nth-child(1)::before {
	transform: rotate(45deg);
}

.explosion:nth-child(odd)::before {
	background-color: #6224df;
}
.explosion:nth-child(even)::before {
	background-color: #D6D9FA;
}


.explosion:nth-child(2) {
	transform: rotate(45deg) translateY(-15px);
}
.explosion:nth-child(2)::before {
	transform: rotate(90deg);
}


.explosion:nth-child(3) {
	transform: rotate(90deg) translateY(-15px);
}
.explosion:nth-child(3)::before {
  transform: rotate(135deg);
}


.explosion:nth-child(4) {
	transform: rotate(135deg) translateY(-15px);
}
.explosion:nth-child(4)::before {
  transform: rotate(180deg);
}


.explosion:nth-child(5) {
	transform: rotate(180deg) translateY(-15px);
}
.explosion:nth-child(5)::before {
	transform: rotate(45deg);
}


.explosion:nth-child(6) {
	transform: rotate(225deg) translateY(-15px);
}
.explosion:nth-child(6)::before {
  transform: rotate(90deg);
}

.explosion:nth-child(7) {
	transform: rotate(270deg) translateY(-15px);
}
.explosion:nth-child(7)::before {
  transform: rotate(135deg);
}

.explosion:nth-child(8) {
	transform: rotate(315deg) translateY(-15px);
}
.explosion:nth-child(8)::before {
  transform: rotate(90deg);
}

.explosion::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	height: 8px;
  width: 8px;
  margin: 4px;
}